/.idea
/.venv
/.vscode
/__pycache__
/Export.vcf
/contact/__pycache__
flask_session
/uploads/
contact/__pycache__
requirements.txt
flask_session/2029240f6d1128be89ddc32729463129
py.py
flask_session/2029240f6d1128be89ddc32729463129
flask_session/