{% extends 'index.html' %}

{% block content %}
<form action="/no_of_email" method="post">
    <label for="no_of_email" class="no_of_labels">email of email</label>
    <input type="number" name = "no_of_email" min="0" id="no_of_email" value="{{no_of_email}}" >
    <input type="submit">
</form>

{% for i in range(1,no_of_email+1) %}
<form action="/email" method="post">
    <input type="text" name ="{{i}}" placeholder="{{i}}-label">  

    <select prefix="columns" id="prefix" class="select_columns">
        <option disabled selected>{{i}}-column</option>
        {% for column in columns %}
            <option value="{{column}}">{{column}}</option>
        {% endfor %}
    </select>  
        <input type="text" id="prefix_text" class="custom_text" prefix="prefix_text" placeholder="custom text">
    <br>
    
{% endfor %}
<input type="submit">
{% endblock %}