{% extends 'index.html' %}

{% block content %}
<form action="/no_of_email" method="post">
    <label for="no_of_email" class="no_of_labels">number of emails</label>
    <input type="number" name = "no_of_email" min="0" id="no_of_email" value="{{no_of_email}}" >
    <input type="submit">
</form>

{% for i in range(no_of_email) %}
<form action="/email" method="post">
    <input 
    type="text" name ="email_label-{{i}}" 
    placeholder="{{i+1}}-label" 
    {% if email[i][1] != 0 %}
    value = "{{email[i][1]}}"    
    {% endif %} >  

    <select name = "email_index-{{i}}" class="select_columns">
        <option disabled selected>{{i+1}}-column</option>
        {% for column in columns %}
            <option {% if email[i][0] == loop.index0 %} selected {% endif %} value="{{loop.index0}}">{{ column }}</option>
        {% endfor %}
    </select>  
    <br>
{% endfor %}
<input class="btn-primary rounded mt-1" type="submit">
{% endblock %}