{% from "macros.html" import name_fields %}
{% extends 'index.html' %}

{% block content %}
<form action="/name" class="container" method = "post">
    {{ name_fields("prefix",0,name_index,columns) }}    
    {{ name_fields("first_name",1,name_index,columns) }}    
    {{ name_fields("middle_name",2,name_index,columns) }}    
    {{ name_fields("last_name",3,name_index,columns) }}    
    {{ name_fields("suffix",4,name_index,columns) }}    
    <input class="btn-primary rounded" type="submit" value="submit">
    
</form>

{% endblock %}