{% extends 'index.html' %}

{% block content %}
<form action="/no_of_number" method="post">
    <label for="no_of_number" class="no_of_labels">number of number</label>
    <input type="number" name = "no_of_number" min="0" id="no_of_number" value="{{no_of_number}}" >
    <input type="submit">
</form>

{% for i in range(no_of_number) %}
<form action="/number" method="post">
    <input 
    type="text" name ="num_label-{{i}}" 
    placeholder="{{i+1}}-label" 
    {% if phone[i][0] != 0 %}
    value = "{{phone[i][0]}}"    
    {% endif %} >  

    <select name = "num_index-{{i}}" class="select_columns">
        <option disabled selected>{{i+1}}-column</option>
        {% for column in columns %}
            <option {% if phone[i][1] == loop.index0 %} selected {% endif %} value="{{loop.index0}}">{{ column }}</option>
        {% endfor %}
    </select>  
    <br>
{% endfor %}
<input type="submit">
{% endblock %}