{% extends 'index.html' %}

{% block content %}
<form action="/no_of_number" method="post">
    <label for="no_of_number" class="no_of_labels">number of phone numbers</label>
    <input type="number" name = "no_of_number" min="0" id="no_of_number" value="{{no_of_number}}" >
    <input type="submit">
</form>

{% for i in range(no_of_number) %}
<form class="container" action="/number" method="post">
    <div class="row mt-2 ">
    <div class="form-floating col-6 " ><input 
    type="text" name ="number_label-{{i}}" 
    class="form-control"
    id="{{i+1}}-label" 
    placeholder="{{i+1}}-label" 
    {% if phone[i][1] != 0 %}
    value = "{{phone[i][1]}}"    
    {% endif %} > <label for="{{i+1}}-label">label for {{i+1}}</label> </div>

    <div class="col-6 h-100" >
    <select name = "num_index-{{i}}" class="select_columns form-select">
        <option disabled selected>{{i+1}}-column</option>
        {% for column in columns %}
            <option {% if phone[i][0] == loop.index0 %} selected {% endif %} value="{{loop.index0}}">{{ column }}</option>
        {% endfor %}
    </select>  </div></div>
    <br>
{% endfor %}

<input class="btn-primary rounded " type="submit">

{% endblock %}